# Stripe Secret Key
VITE_PUBLICATION_KEY=your_stripe_secret_key

# Jitsi Key
VITE_JAAS_APP_ID=your_jitsi_meet_key

# API Key for chatbot
VITE_API_KEY = 'your_api_key'

# Render URL For Model
VITE_MODEL_URL='your_model_hostname'

# Firebase Authentication Keys
VITE_FIREBASE_API_KEY=AIzaSyA-eU7fRYzUkYoSmWOkDebZ3BcpmTRgCnc
VITE_FIREBASE_AUTH_DOMAIN=your-auth-domaintelmed-c8e2b.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=telmed-c8e2b
VITE_FIREBASE_STORAGE_BUCKET=telmed-c8e2b.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=177099575391
VITE_FIREBASE_APP_ID=1:177099575391:web:8d92c2912f5588bfce0bea
VITE_FIREBASE_MEASUREMENT_ID=G-9L5MB0XQZZ
